* {
	margin: 0;
	padding: 0;
}
#rightfixed{
	z-index: 9999;
}
ul,
li {
	list-style: none;
}

#rightfixed {
	width: 140px;
	position: fixed;
	right: 0;
	top: 100px;
}

#rightfixed li {
	background: rgba(255, 255, 255, .5);
	color: #fff;
}

#rightfixed ul li {
	height: 40px;
	line-height: 40px;
	position: relative;
	left: 100px;
}

#rightfixed ul li a{
	text-decoration: none;
}

#rightfixed ul li span {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: lightskyblue;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
}
